<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>введите имя и электронную почту</title>
    </head>
<body>
    <form action="/login" method="post">
        <Label>Введите Ваш емейл</Label>
        <input type="email" name="auth_emeil" placeholder="Введите Ваш емейл" required>
        <label>Введите имя</label>
        <input type="text" name="name" placeholder="введите имя" required>
        <input type="submit" value="отправить">
</body>
</html>    